/*home page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #dffffd;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:#72a293;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
header .navbar a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
header .navbar a:hover{
    color: #dffffd;
}
header h1{
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}