/*home page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #dffffd;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:#72a293;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
header .navbar a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
header .navbar a:hover{
    color: #dffffd;
}
header h1{
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}
header a{
    display: inline-block;
    padding: 10px 20px;
    background: #72a293;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}
header a:hover{
    background: #dffffd;
    color: #333;
}
main{
    padding: 100px;
    text-align: center;
}
main h2{
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}
main p{
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
}
.totalcustomers{
    color: #333;
    font-size: 24px;
    font-weight: 700;
}
footer{
    background: #72a293;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*add customer page*/
form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.customerform{
    display: flex;
    flex-direction: column;
}
.customerform label{
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}
.customerform input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.customerform button{
    padding: 10px;
    background: #72a293;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.customerform button:hover{
    background: #dffffd;
    color: #333;
}
.errormsg{
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.successmsg{
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}
main{
    padding: 100px;
    text-align: center;
}
section{
    margin-bottom: 30px;
}